html{
    scroll-behavior: smooth;
}

body{
  background-color: #000000;
  font-size: 20px;
  margin-top: 5px;
  padding: 10px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

main{
    padding: 10px;
    background-color: #a0a09f;
}

header{
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    background-color:  #000000;
    justify-items: center;
}

header img{
    height: 100px;
    grid-column: 3/3;
    vertical-align: auto;
    border: solid 5px #000000;
}

.skip a{
    background: white;
    left: 0;
    padding: 7px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  
    position: absolute;
    top: -50px;
    
  }

.skip a:focus{
    position: absolute;
    top: 10px;
  }

h1{
  font-size: 30px;
  line-height: 1;
  text-align: center;
  grid-column: 2/2;
  color: white;
  padding-top: 5%;
}

h2{
  font-size: 40px;
  line-height: 1;
  color: black;
  margin-bottom: 5px;
}

nav li{
  justify-content: space-evenly;
}

nav a{
  color: white;
  text-decoration: none;
}

.index nav li.index, .lineup nav li.lineup, .bullpen nav li.bullpen, .rotation nav li.rotation{
  background-color: #a0a09f;
}

.index nav li.index a, .lineup nav li.lineup a, .bullpen nav li.bullpen a, .rotation nav li.rotation a{
  color: black;
}


nav{
  font-size: 28px;
  grid-column: 1/1;
}

.intro{
    padding: 2px;
    border-bottom: solid 5px #000000;
}


footer{
  background-color: black;
  color: white;
  padding-top: 30px;
  text-align: center;
}

.section-pic img{
    width: 350px;
    margin: 5px;
    border: solid 5px #000000;
}

.player-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


.player-pic img:hover{
    width: 275px;
}

.player-pic img{
  width: 250px;
  height: 175px;
}

.player-box{
    grid-template-columns: column;
    border: solid 5px #000000;
    margin: auto;
    margin-top: 2px;
    width: 350px;
}

.player-descr{
    padding-top: 10px;
    padding-bottom: 10px;
}

.player-sect{
  padding: 10px;
}

@media all and (min-width: 768px) {

  .index nav li.index, .lineup nav li.lineup, .bullpen nav li.bullpen, 
.rotation nav li.rotation, .index nav li.index a, .lineup nav li.lineup a, .bullpen nav li.bullpen a, .rotation nav li.rotation a{
    text-decoration: underline;
    text-decoration-color: black;
    background-color: #a0a09f;
    color: black;
}

  .nav_links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: baseline;
  }

  .nav_links li.index a{
    grid-column: 1/1;
    padding: 8px;
  }

  .nav_links li.lineup a{
    grid-column: 2/2;
    padding: 8px;
  }

  .nav_links li.rotation a{
    grid-column: 3/3;
    padding: 8px;
  }

  .nav_links li.bullpen a{
    grid-column: 4/4;
    padding: 8px;
  }


  .player-box{
    grid-template-rows: 1fr 1fr 1fr;
  }

  .player-pic{
    grid-row: 1/1;
  }

  .player-info{
    grid-row: 2/2;
  }

  .player-descr{
    grid-row: 3/3;
  }

  .player-sect{
    width: 425px;
  }
}

@media all and (min-width: 1000px) {
  .player-sect{
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr;
    width: auto;
    border: solid 5px #000000;
    justify-content: center;
    height: auto;
  }

  .player-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column: 1/1;
    border: none;
    justify-items: center;
  }

  .player-descr{
    grid-column: 2/2;
    grid-row: 1/1;
  }

  .player-info{
    grid-column: 1/1;
    grid-row: 1/1;
    margin: auto;
    padding-right: 10px;
  }

  .player-pic{
    grid-column: 2/2;
    grid-row: 1/1;
  }


}